/*
 * CSS rules for visualization.
 * Class namespacing is good practice.
 */

.chart {
    shape-rendering: crispEdges;
}

.mini text {
    font: 9px sans-serif;	
}

.main text {
    font: 12px sans-serif;	
}

.miniItem{
    fill: gray;
    stroke-width: 3;
    fill-opacity: .365;
    
}


.brush .extent {
    stroke: gray;
    fill: dodgerblue;
    fill-opacity: .365;
}