@import url('https://fonts.googleapis.com/css?family=Raleway');
body, html{
	background-color: white;
	font-family: "Raleway";
	height: 100%;
}
header{
    background-color: rgb(102,153,255);
    border: 0px;
    background-image: url('./images/Bar.GIF');
    background-repeat: repeat-x;
    background-position: bottom;
    padding: 0px 0px 16px 0px;
}
.dashboard-body{
	background-color: white;
	min-height: 100%;
}
.dashboard{
	background-color: white;
}
footer{
    margin-top: 0px;
    padding-bottom: 50px;
    font-size: small;
    color: rgb(200, 200, 200);
    background-image: url('./images/Bottom.GIF');
    background-repeat: repeat-x;
    background-position: bottom;
}

h1, h2, a{
    color: rgb(102, 153, 255);
}
